#recherche-avance{
    width: 250px;
    height: 250px;
    background-color: white;
    z-index: 100;
    position: absolute;
    top:110px;
    left: 11%;
    padding: 15px;
    border: 1px solid black;
}
#recherche-avance form{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#recherche-avance form > *{
    width: 50%;
    margin-bottom: 20px;
}
#recherche-avance InputRange{
    margin-top: 20px;
}
#recherche-avance h2{
	font-size: 15px;
	color: #344C85;
	margin-bottom: 15px;
}
