#recherche-avance{
    width: 250px;
    height: 250px;
    background-color:lightgrey;
    z-index: 100;
    position: absolute;
    top:15%;
    left: 11%;
    padding: 15px;
}
#recherche-avance h2{
	font-size: 15px;
	color: #344C85;
	margin-bottom: 15px;
}