[id^=rowVehicule]{
    width: 90%;
    height: 5rem;
    background-color: white;
    margin-top: 2%;
    margin-left:5%;
    font-size: 2rem;

    display: flex;
    flex-wrap: nowrap;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid black;
}

[id^=rowVehicule] span{
    line-height: 5rem;
    text-overflow: ellipsis;
}

.identifiant{
    width: 24%;
    margin-left: 1%;  
}

.modele{
    width: 35%;
}

.etat{
    width:30%
}

.details{
    width: 3%;
    height: 50%;
    background-image: url('../../assets/images/arrow-down-sign-to-navigate.png');
    background-size: cover;
}

.dwn{    
    transform: rotate(0deg);
    transition: transform 300ms linear;
}

.up{
  transform: rotate(180deg);
  transition: transform 300ms linear;
}

.volet-details{
    background-color: white;
    height: 80%;
    width: 82%;
    margin-left: 9%;
    margin-right: 9%;

    transition: opacity 0.4s ease-in-out;
    border: 1px solid black;    

    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
