
.details-img{
    width: 200px;
    height: 200px;
    background-image: url('../../assets/images/placeholder.jpg');
    background-size: cover;
}

.details-infos{
    width: 300px; 
    margin-left: 85px;
    font-size: 1.5em !important;
    line-height: 60px;
}
.details-buttons{
    margin-left: auto;
}
.details-edit{
    background-image: url('../../assets/images/edit.png');
    background-size: cover;
    width: 60px;
    height: 60px;
}
.details-historique{
    background-image: url('../../assets/images/history.png');
    background-size: cover;
    width: 60px;
    height: 60px;
    margin-top: 45px;
}
.wrapper-details{
    display: flex;
    width:100%;
}
.historique{
    height:200px;
    max-width: 100%;
    background-color: #D8D081;
    overflow-y: scroll;
    padding: 15px;
    margin-top: 15px;
}
.row-details{
    font-size: 1.2em;
    width: 100%;
}