#recherche-avance-admin{
    width: 300px;
    z-index: 100;
    position: absolute;
    top:110px;
    left: 11%;
    background-color: white;
    border: 1px solid black;
}
#wrapper-recherche-bt{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#body-recherche > *{
  padding: 15px;
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
}
#body-recherche input,
#body-recherche label,
#body-recherche select{
  width: 50%;
  margin-top: 15px;
  padding: 5px;
}
#body-recherche .input-range{
  margin-top: 25px;
  width: 100%;
}
#body-recherche h2{
  color: #344C85;
  margin-bottom: 10px;  
}
[id^=recherche-bt-]{
   background-repeat: no-repeat;
   background-size: 90% 90%;
   width: 25%;
   height: 60px;
   padding: 5px;
   background-position: center;
   border: 1px solid black;
   background-color: #C5B936;
}
#wrapper-recherche-bt{
    display:flex;
    margin-bottom: 10px;
}
#recherche-bt-vehicule{
    background-image: url('../../assets/images/car.png');
}
#recherche-bt-agent{
    background-image: url('../../assets/images/user.png');
}
#recherche-bt-agence{
    background-image: url('../../assets/images/home.png');
}
#recherche-bt-etat{
    background-image: url('../../assets/images/key.png');
}
.active{
    background-color: white;
    border-bottom: none;
  }