
#ajout-vehicule{
    width: 80%;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 10%;
    background-color: white;
    z-index: 1000;
}
#ajout-valider{
    background: url('../../assets/images/checked.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
}
#ajout-annuler{
    background: url('../../assets/images/unchecked.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
}