#background-connexion{
    height: 85%;
    width: 100%;
    padding-top: 50px;
}
h1{
    font-size: 30px;
    margin-bottom: 20px;
    color: #C5B936;
}
input{
    width: 80%;
    margin-bottom: 15px;
    font-size: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    border-radius: 3px;
    padding: 10px;
    border: 1px solid black;
}
#div-connexion{
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    max-width: 400px;
    height: 350px;
    box-sizing: border-box;
    border: 1px solid grey;
    background-color: rgba(255, 255, 255, 0.8)

}