
#div-menu{
    height:15%;
    width: 100%;
    background-color:lightgray;
    box-sizing: border-box;
    border: 1px solid grey;
    display: flex;
}

#img-logo{
    background-image: url('../../assets/images/logo.png');
    background-size: cover;
    width: 120px;
    height: 81px;
    margin-top:15px;
    margin-left:10px;
}

.verticalLine {
  border-left: solid #333333;
  display: inline-block;
  height: 80%;
  width: 1px;
  margin-right: 20px;
  margin-left: 20px;
}

#bt-recherche{
    background-image: url('../../assets/images/Loupe-voiture.png');
    background-size: cover;
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
    height:75px;
    width: 75px;
}

#recherche-user{
    vertical-align: top;
    font-size: 3em;
    width: 60%;
}
#wrapper-bt-ajout-vehicule{
    width: 5%;
    display: initial;
    margin-left: 2%;
}
#bt-ajout-vehicule{
    height:100px;
    width: 100px;
    background: url('../../assets/images/car.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    height:75px;
    width: 75px;
}

#ajout-vehicule-overlay{
    background-color: rgba(45, 45, 45, 0.5);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
